.root {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 8px;
  border: 1px solid grey;
  border-radius: 4px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.image {
  border: 1px solid black;
}

.favoriteButton {
  position: absolute;
  top: 2px;
  right: 12px;
}

.attributes {
  padding: 4px 8px;
  margin-top: 6px
}

.expandButton {
  align-self: flex-end;
}
